{% extends 'custom/dashboard.html' %}
{% load static %}

{% block stylesheets %}
<link href="{% static 'css/settings.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
    integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
    crossorigin="anonymous"></script>
<style>
    .social-card-height {
        max-height: 250px;
        overflow: auto;
    }
</style>
{% endblock %}

{% block start %}

<div class="container">
    <div class="main-body mt-5">
        <div class="row gutters-sm mt-5">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if user.profile_image %}
                            <img src="{{user.profile_image.url}}" alt="Admin" width="150" height="150px"
                                class="rounded-circle">
                            {% else %}
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                class="rounded-circle" width="150">
                            {% endif %}
                            <div class="mt-3">
                                <h4>{{user.username}}</h4>
                                {% if request.user.is_authenticated %}
                                <form action="{% url 'user-follow' user.slug %}" method="post"
                                    id="follow-unfollow-form">
                                    {% csrf_token %}
                                    {% if not user == request.user %}
                                    {% if followed %}
                                    <button class="btn btn-primary" id="follow-unfollow-btn">Unfollow</button>
                                    {% else %}
                                    <button class="btn btn-primary" id="follow-unfollow-btn">Follow</button>
                                    {% endif %}
                                    {% endif %}
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Username</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.username}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.first_name}} {{user.last_name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.email}}
                            </div>
                        </div>
                        <hr>
                        {% if user.institute %}
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Institute</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.institute}}
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                        <div class="row">
                            {% if user.linkedin_link %}
                            <div class="col-4 text-center my-2">
                                <h6 class="mb-0"><a href="{{user.linkedin_link}}"><i style="font-size: 20px;"
                                            class="fab fa-linkedin-in"></i></a></h6>
                            </div>
                            {% endif %}
                            {% if user.instagram_link %}
                            <div class="col-4 text-center my-2">
                                <h6 class="mb-0"><a href="{{user.instagram_link}}"><i style="font-size: 20px;"
                                            class="fab fa-instagram"></i></a></h6>
                            </div>
                            {% endif %}
                            {% if user.facebook_link %}
                            <div class="col-4 text-center my-2">
                                <h6 class="mb-0"><a href="{{user.facebook_link}}"><i style="font-size: 20px;"
                                            class="fab fa-facebook-square"></i></a></h6>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gutters-sm mt-3">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h6 class="mb-0">Assignments Accepted</h6>
                            </div>
                            <div class="col-sm-4">
                                {{contributed_assignments|length}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <h6 class="mb-0">Blogs Published</h6>
                            </div>
                            <div class="col-sm-4">
                                {{published_blogs|length}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <h6 class="mb-0">Blog Points</h6>
                            </div>
                            <div class="col-sm-4">
                                {{rewards.blog_points}}<br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <h6 class="mb-0">Assignment Points</h6>
                            </div>
                            <div class="col-sm-4">
                                {{rewards.assignment_points}}<br>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <h6 class="mb-0">Points Earned</h6>
                            </div>
                            <div class="col-sm-4">
                                {{rewards.points}}<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <h6 class="mb-0"><a href="{% url 'user-followers' user.slug %}">Followers</a></h6>
                            </div>
                            <div class="col-sm-4">
                                {{user.followers.all|length}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <h6 class="mb-0"><a href="{% url 'user-following' user.slug %}">Following</a></h6>
                            </div>
                            <div class="col-sm-4">
                                {{user.following.all|length}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if flag4 == False %}
<div class="container mb-3">
    <div class="row">
        <h2 class="mt-5 mb-3 text-center w-100">Assignments Created</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Assignment Name</th>
                        <th style="width: 20%;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in contributed_assignments %}
                    <tr>

                        <td><a
                                href="{% url 'assignment-detail' assignment.slug %}">{{assignment.parent_assignment.title}}</a>
                        </td>
                        <td style="width: 20%;">{% if assignment.is_accepted %}Accepted{% else %}Under Review{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% if flag5 == False %}
<div class="container mb-5">
    <div class="row">
        <!-- <div style="width: 100%;">
            <canvas id="blog-chart" style="height: 300px;width: 100%;"></canvas>
        </div> -->
        <h2 class="mt-5 mb-3 text-center w-100">Blogs Published</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Blog Title</th>
                        <th style="width: 20%;">Likes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for blog in published_blogs %}
                    <tr>

                        <td><a href="{% url 'blog-single' blog.slug %}">{{blog.title}}</a>
                        </td>
                        <td style="width: 20%;">{{blog.number_of_likes}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}

<script>
    $('#follow-unfollow-form').on('submit', function (event) {
        event.preventDefault();
        var form = $(this);
        $.ajax({
            url: form.attr('action'),
            type: 'POST',
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data['action'] === 'follow') {
                    $("#follow-unfollow-btn").text("Unfollow");
                }
                else {
                    $("#follow-unfollow-btn").text("Follow");
                }
            },
        });
    });
</script>

<!-- Chart -->
<script>
    var ctx = document.getElementById('blog-chart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            datasets: [{
                label: 'Blog Activity',
                data: [12, 19, 3, 5, 2, 3, 12, 19, 3, 5, 2, 3],
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            },
            {
                label: 'Assignment Activity',
                data: [2, 3, 12, 19, 3, 5, 2, 3, 12, 19, 3, 5],
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, `)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}

{% block js %}
{% endblock %}