{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GB Additional Details</title>
    {% include 'account/cssBase.html' %}
</head>

<body>
    <!----------------------------------------------Header------------------------------------>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <img src="{% static 'images/inverted-logo.png' %}" width="45" height="45"
                class="d-inline-block align-top rounded-circle bg-light">
            <a class="navbar-brand pl-md-3" href="{% url 'index_home' %}">GyaaniBuddy</a>
        </nav>
    </header>
    <!------------------------------------Main Body-------------------------------------->
    <div class="container">
        <form class="form-signup " method="POST">
            {% csrf_token %}
            <div class="text-center mb-4">
                <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please add your Additional Details</h1>
            </div>

            <div class="form-label-group">
                <input type="text" id="inputfirstname" class="form-control" placeholder="First name" required autofocus
                    name='first_name'>
                <label for="inputfirstname">First name</label>
            </div>

            <div class="form-label-group">
                <input type="text" id="inputlastname" class="form-control" placeholder="Last name" required autofocus
                    name='last_name'>
                <label for="inputlastname">Last name</label>
            </div>

            <div class="form-label-group">
                <input type="tel" id="inputmobno" class="form-control" placeholder="Mob no." required autofocus
                    name='phone_number'>
                <label for="inputmobno">Mob no.</label>
            </div>

            <div class="input-group mb-3">
                <select class="custom-select" onchange="workplace_valid(this);" id="byProf" name='user_type'>
                    <option selected>Choose...</option>
                    <option value="ST">Student</option>
                    <option value="T">Teacher</option>
                </select>
                <div class="input-group-append">
                    <label class="input-group-text" for="byProf">by Profession</label>
                </div>
            </div>

            <div class="input-group mb-3" id="workplace" style="display: none;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Workplace</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name='institute'>
            </div>

            <div class="input-group mb-3" id="studyplace" style="display: none;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">School</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name='school_name'>
            </div>
            <div class="input-group mb-3" id="studyplace2" style="display: none;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">College</span>
                </div>
                <input type="text" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" name='college_name'>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox"> The details provided by me are truely correct.
                </label>
            </div>
            <button class="btn btn-lg btn-secondary btn-block" type="submit">Add Details</button>
        </form>
    </div>

    <footer class="bg-dark fixed-bottom text-center text-white p-1">
        Copyright &copy; Gyaani Buddy | All rights reserved
    </footer>

    <script type="text/javascript">
        function workplace_valid(that) {
            if (that.value == "T") {
                document.getElementById("workplace").style.display = "";
                document.getElementById("studyplace").style.display = "none";
                document.getElementById("studyplace2").style.display = "none";
            } else {
                document.getElementById("workplace").style.display = "none";
                document.getElementById("studyplace").style.display = "";
                document.getElementById("studyplace2").style.display = "";
            }
        }
    </script>
</body>

</html>