{% extends 'gb_base.html' %}
{% load static %}

{% block extraHead %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/f244c27795.js"></script>
    <link rel = "icon" href = https://media-exp1.licdn.com/dms/image/C560BAQEzFtPtp4eqgw/company-logo_200_200/0/1603725751213?e=2159024400&v=beta&t=HQfckUYBeY_rgNSrKMKLvjc4A1exwCfRCU8FpZrz2Y4 
    type = "image/x-icon"> 
</head>
{% endblock %}

{% block extraCss %}
<style type="text/css">
    a{ color: inherit; }
    a:hover{color:inherit;cursor: pointer;}
</style>
{% endblock %}

{% block extraScript %}
<script>
$(document).ready(function(){
    $('[data-bs-toggle="popover"]').popover(); 

    });

</script>
<script>	
    $(document).ready(function(){
        $("input[type='radio']").click(function(){
            var radioValue = $("input[id='SelectFilter1']:checked").val();
            var radioValue2 = $("input[id='SelectFilter2']:checked").val();
            if(radioValue){
                $('#SearchFilter1').css('display', '');
                $('#SearchFilter2').css('display', 'none');
            }
            if(radioValue2){
            	$('#SearchFilter1').css('display', 'none');
            	$('#SearchFilter2').css('display', '');
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<body style="background-color: #f3f7f7;">
    <br>
    <h2 class="m-3 text-center" style="color: #01BACF;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
        </svg>
        Your Network
    </h2>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                <ul class="nav nav-tabs nav-fill" id="network_tab_list" role="tablist">
                    <li class="nav-item" role="presentation" id="follower_tab">
                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="home" aria-selected="true">
                            <svg color="#01BACF" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                            </svg>
                            Followers
                        </a>
                    </li>
                    <li class="nav-item" role="presentation" id="follower_tab">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            <svg color="#01BACF" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                                <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                            </svg>
                            Following
                        </a>
                    </li>
                </ul>
                </div>

                <div class="tab-content">
                    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="shadow-lg p-3 md-5 bg-white">
                            <table class="table table-hover">
                                {% if not followers|length %}
                                <div class="m-5 text-center">
                                    <p style="color: gray;">Oops! There is lonely here.</p>
                                </div>
                                {% endif %}
                                {% for user in followers %}
                                {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                                    <div class="col-lg-6">                    
                                    <div class="card my-3 shadow-sm mb-3 bg-body rounded">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                {% if user.profile_image %}
                                                <img src="{{user.profile_image.url}}" alt="Admin" width="100" height="100px"
                                                    class="rounded-circle">
                                                {% else %}
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                                                    width="100">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div>
                                                    {% if user.first_name and user.last_name %}
                                                    <h5 class="card-title text-start" ><a style="text-decoration: none;" href="{% url 'user-profile' user.slug %}">{{user.first_name}} {{user.last_name}}</a></h5>
                                                    {% else %}
                                                    <h5 class="card-title text-start" ><a style="text-decoration: none;" href="{% url 'user-profile' user.slug %}">{{user.username}}</a></h5>
                                                    {% endif %}
                                                    {% if user.institute %}
                                                        <h6 class="card-text text-start">{{user.institute}}</h6>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-3 d-flex align-items-center">
                                                <form action="{% url 'user-follow' user.slug %}" user_id="{{user.id}}" method="POST" class="follow_unfollow_form">
                                                    {% csrf_token %}
                                                    {% if user in following %}
                                                        <button type="submit" value="{{user.slug}}" name="follow_unfollow_slug" method="POST" class="btn btn-primary" id="follow-unfollow-btn-{{user.id}}" style="color: white; background-color: #01BACF; border: none;">Unfollow</button>
                                                    {% else %}
                                                        <button type="submit" value="{{user.slug}}" name="follow_unfollow_slug" method="POST" class="btn btn-primary" id="follow-unfollow-btn-{{user.id}}" style="color:white; background-color: #01BACF; border: none;">Follow</button>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                {% else %}
                                    <div class="col-lg-6">                    
                                    <div class="card my-3 shadow-sm mb-3 bg-body rounded">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                {% if user.profile_image %}
                                                <img src="{{user.profile_image.url}}" alt="Admin" width="100" height="100px"
                                                    class="rounded-circle">
                                                {% else %}
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                                                    width="100">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div>
                                                    {% if user.first_name and user.last_name %}
                                                    <h5 class="card-title text-start" ><a style="text-decoration: none;" href="{% url 'user-profile' user.slug %}">{{user.first_name}} {{user.last_name}}</a></h5>
                                                    {% else %}
                                                    <h5 class="card-title text-start" ><a style="text-decoration: none;" href="{% url 'user-profile' user.slug %}">{{user.username}}</a></h5>
                                                    {% endif %}
                                                    {% if user.institute %}
                                                        <h6 class="card-text text-start">{{user.institute}}</h6>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-3 d-flex align-items-center">
                                                <form action="{% url 'user-follow' user.slug %}" user_id="{{user.id}}" method="POST" class="follow_unfollow_form">
                                                    {% csrf_token %}
                                                    {% if user in following %}
                                                        <button type="submit" value="{{user.slug}}" name="follow_unfollow_slug" method="POST" class="btn btn-primary" id="follow-unfollow-btn-{{user.id}}" style="color: white; background-color: #01BACF; border: none;">Unfollow</button>
                                                    {% else %}
                                                        <button type="submit" value="{{user.slug}}" name="follow_unfollow_slug" method="POST" class="btn btn-primary" id="follow-unfollow-btn-{{user.id}}" style="color:white; background-color: #01BACF; border: none;">Follow</button>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </div>   
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %} 
                            </table>
                        </div>
                    </div> 

                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="shadow-lg p-3 md-5 bg-white">
                            <table class="table table-hover">
                                {% if not following|length %}
                                <div class="m-5 text-center">
                                    <p style="color: gray;">Oops! There is lonely here.</p>
                                </div>
                                {% endif %}
                                {% for user in following %}
                                {% if forloop.counter0|divisibleby:"2" %}
                                <div class="row">
                                    <div class="col-lg-6">                    
                                    <div class="card my-3 shadow-sm mb-3 bg-body rounded">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                {% if user.profile_image %}
                                                <img src="{{user.profile_image.url}}" alt="Admin" width="100" height="100px"
                                                    class="rounded-circle">
                                                {% else %}
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                                                    width="100">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div>
                                                    {% if user.first_name and user.last_name %}
                                                    <h5 class="card-title text-start" ><a style="text-decoration: none;" href="{% url 'user-profile' user.slug %}">{{user.first_name}} {{user.last_name}}</a></h5>
                                                    {% else %}
                                                    <h5 class="card-title text-start" ><a style="text-decoration: none;" href="{% url 'user-profile' user.slug %}">{{user.username}}</a></h5>
                                                    {% endif %}
                                                    {% if user.institute %}
                                                        <h6 class="card-text text-start">{{user.institute}}</h6>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-3 d-flex align-items-center">
                                                <form action="{% url 'user-follow' user.slug %}" user_id="{{user.id}}" method="POST" class="follow_unfollow_form">
                                                    {% csrf_token %}
                                                    {% if user in following %}
                                                        <button type="submit" value="{{user.slug}}" name="follow_unfollow_slug" method="POST" class="btn btn-primary" id="follow-unfollow-btn-{{user.id}}" style="color: white; background-color: #01BACF; border: none;">Unfollow</button>
                                                    {% else %}
                                                        <button type="submit" value="{{user.slug}}" name="follow_unfollow_slug" method="POST" class="btn btn-primary" id="follow-unfollow-btn-{{user.id}}" style="color:white; background-color: #01BACF; border: none;">Follow</button>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                {% else %}
                                    <div class="col-lg-6">                    
                                    <div class="card my-3 shadow-sm mb-3 bg-body rounded">
                                    <div class="card-body text-center">
                                        <div class="row">
                                            <div class="col-sm-3 d-flex justify-content-center">
                                                {% if user.profile_image %}
                                                <img src="{{user.profile_image.url}}" alt="Admin" width="100" height="100px"
                                                    class="rounded-circle">
                                                {% else %}
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                                                    width="100">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-6 d-flex align-items-center">
                                                <div>
                                                    {% if user.first_name and user.last_name %}
                                                    <h5 class="card-title text-start" ><a style="text-decoration: none;" href="{% url 'user-profile' user.slug %}">{{user.first_name}} {{user.last_name}}</a></h5>
                                                    {% else %}
                                                    <h5 class="card-title text-start" ><a style="text-decoration: none;" href="{% url 'user-profile' user.slug %}">{{user.username}}</a></h5>
                                                    {% endif %}
                                                    {% if user.institute %}
                                                        <h6 class="card-text text-start">{{user.institute}}</h6>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-3 d-flex align-items-center">
                                                <form action="{% url 'user-follow' user.slug %}" user_id="{{user.id}}" class="follow_unfollow_form">
                                                    {% csrf_token %}
                                                    {% if user in following %}
                                                        <button type="submit" value="{{user.slug}}" name="follow_unfollow_slug" class="btn btn-primary" id="follow-unfollow-btn-{{user.id}}" style="color: white; background-color: #01BACF; border: none;">Unfollow</button>
                                                    {% else %}
                                                        <button type="submit" value="{{user.slug}}" name="follow_unfollow_slug" class="btn btn-primary" id="follow-unfollow-btn-{{user.id}}" style="color:white; background-color: #01BACF; border: none;">Follow</button>
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    </div>   
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <br>            
                <br>

                <!--Pagination-->
                <!-- <nav aria-label="pagination">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous" tabindex="-1">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav> -->
                
                <br>
            
            </div>
        </div>
    </div>
</body>

<script>
    $(".follow_unfollow_form").on('submit',function (event) {
        console.log("Inside script")
        event.preventDefault();
        var form = $(this);
        console.log(form.attr('user_id'));
        $.ajax({
            url: form.attr('action'),
            type : "POST",
            data: form.serialize(),
            dataType: 'json',
            success: function (data) {
                if (data) {
                    if(data['action'] === 'follow'){
                        document.getElementById("follow-unfollow-btn-"+form.attr('user_id')).innerHTML = "Unfollow"
                        // console.log("hii boi in follow")
                    }
                    else{
                        // console.log("unfollow")
                        document.getElementById("follow-unfollow-btn-"+form.attr('user_id')).innerHTML = "Follow"
                    }
                }
            },
            error : function(xhr,errmsg,err) {
                $('body').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>");
            }
        });
    });
</script>

{% endblock %}
