{% extends 'gb_base.html' %}
{% load mathfilters %}
{% load static %}

{% block extraHead %}
<head>
    <link rel = "icon" href = https://media-exp1.licdn.com/dms/image/C560BAQEzFtPtp4eqgw/company-logo_200_200/0/1603725751213?e=2159024400&v=beta&t=HQfckUYBeY_rgNSrKMKLvjc4A1exwCfRCU8FpZrz2Y4 
    type = "image/x-icon"> 
	<link rel = "icon" href = https://media-exp1.licdn.com/dms/image/C560BAQEzFtPtp4eqgw/company-logo_200_200/0/1603725751213?e=2159024400&v=beta&t=HQfckUYBeY_rgNSrKMKLvjc4A1exwCfRCU8FpZrz2Y4 
        type = "image/x-icon"> 
	<title>GyaaniBuddy Leaderboard</title>
</head>
{% endblock %}

{% block extraCss %}
<style type="text/css">
	body{
		background-color: #fffafa;
	}
	.leaderboard.nav-item {
		width:25%;
	}
	.leaderboard.nav.nav-tabs > li.active a {
		border: 0;
	}
	.leaderboard.nav.nav-tabs li:not(:last-child) a {
		border-right: 1px solid #ccc;
	}

	.leaderboard.nav.nav-tabs li a {
	  border-radius: 0; /* avoid curved divisor corner */
	}
	a{ color: inherit; }
	a:hover{color:inherit;cursor: pointer;}

	/*.page-item{
		width: 25%;
	}*/
</style>
{% endblock %}

{% block extraScript %}
<script>
	
	function appendtab(i){
		window.location.href = "?page="+ i + "&tab=" + localStorage.getItem('tab');
	}

	function pageRange(page, pageCount) {
	var start = page - 2,
		end = page + 2;

	if (end > pageCount) {
		start -= (end - pageCount);
		end = pageCount;
	}
	if (start <= 0) {
		end += ((start - 1) * (-1));
		start = 1;
	}

	end = end > pageCount ? pageCount : end;

	return {
		start: start,
		end: end
	};
	}
</script>
{% endblock %}

{% block content %}
<body>
  	<!-- Leaderboard Header.Can be replaced by Site's actual navbar header,but this looks good too :)-->
	<div style="text-align: center;margin-left: auto;margin-right: auto;">
      <img src="https://img.icons8.com/nolan/64/leaderboard.png" alt="Leaderboard" />
      <figure>
      <blockquote class="blockquote">
        <p>GyaaniBuddy Leaderboard</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Your Race Towards <cite title="Source Title">Success</cite>
      </figcaption>
    </figure>
    </div style="text-align: center;">

	<br><br><br>

  	<div class="container">
	  	<!-- Nav tabs -->
	  	<div class="row">
		<div class="col-md-12">
			<div>
				<ul class="nav leaderboard nav-tabs nav-fill" id="myTab" role="tablist">
				<li class="leaderboard nav-item" role="presentation">
					<a class="{% if currTab == 'overall' %} nav-link active {% else %} nav-link {% endif %}" 
					id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="home" 
					aria-selected="{% if currTab == 'overall' %} true {% else %} false {% endif %}" 
					onclick="localStorage.setItem('tab','overall'); appendtab(1);" >OVERALL</a>
				</li>
				<li class="leaderboard nav-item" role="presentation">
					<a class="{% if currTab == 'assignment' %} nav-link active {% else %} nav-link {% endif %}" 
					id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile"
					aria-selected="{% if currTab == 'assignment' %} true {% else %} false {% endif %}" 
					onclick="localStorage.setItem('tab','assignment'); appendtab(1);" >ASSIGNMENTS</a>
				</li>
				<li class="leaderboard nav-item" role="presentation">
					<a class="{% if currTab == 'blog' %} nav-link active {% else %} nav-link {% endif %}"
					id="last-tab" data-bs-toggle="tab" data-bs-target="#last" role="tab" aria-controls="last"
					aria-selected="{% if currTab == 'blog' %} true {% else %} false {% endif %}"
					onclick="localStorage.setItem('tab','blog'); appendtab(1);" >BLOGS</a>
				</li>
				</ul>
			</div>

			<!-- Tab panes -->
			<div class="shadow-lg tab-content" style="overflow-x: auto;">
			<div class="{% if currTab == 'overall' %} tab-pane active {% else %} tab-pane {% endif %}" 
			id="home" role="tabpanel" aria-labelledby="home-tab">
				<!-- TABLE FOR O(1) along with shadow effect-->
					<div class="p-3 md-5 bg-white">
						<table class="table table-hover">
						<thead>
						<tr>
							<th scope="col" class="text-center">NAME</th>
							<th scope="col">RANK</th>
							<th scope="col">SCORE</th>
							<th>COLLEGE NAME</th>
							<th scope="col">HANDLE</th>
						</tr>
						</thead>
						<tbody>
							<tr style="background-color: #01BACF;">
								<td class="text-center">{{curruser.first_name}} {{curruser.last_name}}</td>
								<td>{{curruserranktotal}}</td>
								<td>{{curruser.total_points}}</td>
								<td>{{curruser.institute}}</td>
								<td>{{curruser.username}}</td>
							</tr>
							{% for user in users %}
								<tr>
									<td class="text-center">{{user.first_name}} {{user.last_name}}</td>
									<td>{{page_obj.number|add:-1|mul:paginator.per_page|add:forloop.counter}}</td>
									<td>{{user.total_points}}</td>
									<td>{{user.institute}}</td>
									<td>{{user.username}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="{% if currTab == 'assignment' %} tab-pane active {% else %} tab-pane {% endif %}" 
			id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<div class="shadow-lg p-3 md-5 bg-white">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col" class="text-center">NAME</th>
								<th scope="col">RANK</th>
								<th scope="col">SCORE</th>
								<th scope="col">HANDLE</th>
							</tr>
						</thead>	
						<tbody>
							<tr style="background-color: #01BACF;">
								<td class="text-center">{{curruser.first_name}} {{curruser.last_name}}</td>
								<td>{{curruserrankassignment}}</td>
								<td>{{curruser.assignment_points}}</td>
								<td>{{curruser.username}}</td>
							</tr>
							{% for user in users %}
								<tr>
									<td class="text-center">{{user.first_name}} {{user.last_name}}</td>
									<td>{{page_obj.number|add:-1|mul:paginator.per_page|add:forloop.counter}}</td>
									<td>{{user.assignment_points}}</td>
									<td>{{user.username}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="{% if currTab == 'blog' %} tab-pane active {% else %} tab-pane {% endif %}" 
			id="last" role="tabpanel" aria-labelledby="last-tab">
				<div class="shadow-lg p-3 md-5 bg-white">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col" class="text-center">NAME</th>
								<th scope="col">RANK</th>
								<th scope="col">SCORE</th>
								<th scope="col">HANDLE</th>
							</tr>
						</thead>	
						<tbody>
							<tr style="background-color: #01BACF;">
								<td class="text-center">{{curruser.first_name}} {{curruser.last_name}}</td>
								<td>{{curruserrankblog}}</td>
								<td>{{curruser.blog_points}}</td>
								<td>{{curruser.username}}</td>
							</tr>
							{% for user in users %}
								<tr>
									<td class="text-center">{{user.first_name}} {{user.last_name}}</td>
									<td>{{page_obj.number|add:-1|mul:paginator.per_page|add:forloop.counter}}</td>
									<td>{{user.blog_points}}</td>
									<td>{{user.username}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	    	</div>
		<br>
		</div>
		</div>
	</div>
	<br>

	<nav aria-label="Page navigation example">
		{% if is_paginated %}
		<ul class="pagination justify-content-center">
		  {% if page_obj.has_previous %}
		  <li class="page-item">
			<a class="page-link" onclick="appendtab({{page_obj.previous_page_number}})">&laquo;</a>
		  </li>
		  {% else %}
		  <li class="page-item disabled">
			<a class="page-link" href="#">&laquo;</a>
		  </li>
		  {% endif %}
		  
		  {% if page_obj.number|add:'-2' > 1 %}
    		<li><a class="page-link" onclick="appendtab({{ page_obj.number|add:'-3' }})">&hellip;</a></li>
		  {% endif %}

		  {% for i in paginator.page_range %} 
			{% if page_obj.number == i %}
			<li class="page-item"><a class="page-link active" style="background-color: #01BACF; color: white;">{{ i }}</a></li>
			{% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
			<li><a class="page-link" onclick="appendtab({{i}})">{{ i }}</a></li>
			{% endif %} 
		  {% endfor %}

		  {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
			<li><a class="page-link" onclick="appendtab({{page_obj.number|add:'3'}})">&hellip;</a></li>
		  {% endif %}

		  {% if page_obj.has_next %}
		  <li class="page-item">
			<a onclick="appendtab({{page_obj.next_page_number}})" class="page-link">&raquo;</a>
		  </li>
		  {% else %}
		  <li class="page-item disabled">
			<a class="page-link">&raquo;</a>
		  </li>
		  {% endif %}
		</ul>
		{% endif %}
	  </nav>
	<br>
	<br>
	<br>
</body>

{% endblock %}