{% extends 'main/gb_base.html' %}
{% load static %}
{% load socialaccount %}
{% block extraHead %}
<style>
    .form-mw {
        max-width: 400px;
    }

    a {
        text-decoration: none;
    }
</style>
<title>Password Reset</title>
{% endblock %}
{% block assignment_content %}
<div class="container">
    <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'images/gb-logo.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Password Reset</h1>
        <h5>The email has been sent. Please go to the link in the given email to reset your password.</h5>
    </div>
</div>
<br>
{% endblock %}