*{
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

nav, footer {
	background-color: #1D2023 !important;
}

.carousel-inner img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

header img {
	border-radius: 9px;
}

.card-content {
	margin: auto auto;
	padding-left: 5vw;
	padding-right: 5vw;
	text-align: center;
	color: #343a40 !important;
}

.card-content h2,
.card-content h6,
.card-content h5 {
	color: #343a40 !important;
}

.card-content h2{
	font-weight: bold;
}

.card-content h6 {
	font-size: 1.2vw;
}

.card-content .fa-check {
	color: #17a2b8;
}

.top-card {
	background-image: url('../images/main-home-page/top-card.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
    object-fit: cover;
	padding: 300px 100px 300px 100px;
	color: black;
}
.top-card button {
	margin-top: 10px;
	font-size: 30px;
	font-weight: bold;
	background-color: #1D2023 !important;
	border-color: #1D2023 !important;
}
.top-card h1 {
	font-weight: bold;
}
.top-card h2 {
	font-weight: bold;
}

.brief {
	color: #1f1d1e;
}

#flashcards {
	justify-content: center;
}

#flashcards button {
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 3vw 6vw;
	background-image: url('../images/main-home-page/flashcard.png') ;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 1vw;
	width: 100%;
	height: 90%;
	overflow: hidden;
	font-size: 20px;
	color: black;
	border-width: 2px;
	font-weight: bold;
}

#flashcards .h3 {
	padding-top: 10vh;
}

#flashcards button:hover {
	color: white;
	background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('../images/main-home-page/flashcard.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.card-name {
	box-shadow: 5px 10px 8px 10px #888888;
	background-image: url('../images/main-home-page/flashcard.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}


#comment-img {
	background-image: url('../images/main-home-page/comment.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 500px;
	color: black;
}

.user-comment {
	background-color: white;
	opacity: 0.7;
	border-radius: 10px;
	margin:  0 90px;
}


#comment-img h4 {
	padding-right: 5%;
	padding-left: 5%;
}

#feedback {
	background-color: #ffdcd6;
}

#feedback h5 {
	text-align: center;
	padding: 50px;
	margin-bottom: 0;
}

#end-page {
	background-image: url('../images/main-home-page/end-page.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
}
#end-page h5 {
	/*margin-top: 50%;*/
	padding-top: 320px;
	font-size: 45px;
}
#end-page button {
	background-color: #2a2a68;
	border-color: #2a2a68;
	align-items: center;
	font-size: 30px;
}
#end-page a, 
#end-page a:hover, 
#end-page a:focus{
	text-decoration: none;
	color: white;
}

.details h2{
	font-weight: bold;
}




/********** Medium devices only **********/
@media (max-width: 992px) and (min-width: 769px) {
	.card-content h6{
		font-size: 15px;
	}
	.card-content h2{
		font-size: 20px;
	}
	#flashcards button {
		padding: 2vw 3vw;
	}
	#end-page h5 {
		padding-top: 300px;
		font-size: 40px;
	}
	#end-page button {
		font-size: 25px;
	}
	#comment-img {
		height: 250px;
	}
	#feedback h5, #comment-img h6 {
		font-size: 15px;
	}
	#comment-img h4 {
		font-size: 17px;
	}

}

/********* Small devices only *********/
@media (max-width: 768px) and (min-width: 577px) {
	#end-page h5 {
		padding-top: 150px;
		font-size: 35px;
	}
	#end-page {
		height: 500px;
	}
	.card-content h6{
		font-size: 13px;
	}
	.card-content h2{
		font-size: 18px;
	}
	#flashcards button {
		padding: 2vw 3vw;
		text-align: center;
	}
	#flashcards .h3 {
		font-size: 20px;
	}
	#feedback h5, #comment-img h6 {
		font-size: 13px;
	}
	#feedback h5 {
		padding: 30px;
	}
	#comment-img h4 {
		font-size: 14px;
	}
	#comment-img {
		height: 200px;
	}
	#end-page h5 {
		font-size: 30px;
		padding-top: 150px;
	}
	#end-page {
		height: 500px !important;
	}
	#end-page button {
		font-size: 20px;
	}
	.info-card {
		padding: 40px 5px;
	}

}


/********** Extra small devices only *********/
@media (max-width: 576px) {
	#flashcards .h3 {
		font-size: 20px;
	}
	#flashcards button {
		font-size: 16px;
		margin: 10px;
	}
	.card-content h6{
		font-size: 15px;
	}
	.card-content h2 {
		font-size: 20px;
	}
	.card-content h5 {
		font-size: 17px;
	}
	.info-card {
		padding: 10px;
	}
	#flashcards {
		height: 350px;
	}
	.login-benefits h2 {
		padding-top: 23vh !important;
	}
	#feedback h5, #comment-img h6 {
		font-size: 15px;
	}
	#feedback h5 {
		margin-top: 10px;
		padding: 30px 10px 20px 10px;
		font-weight: normal;
	}
	#comment-img h4 {
		font-size: 13px;
	}
	#comment-img {
		height: 200px;
	}
	.user-comment{
		margin: 0 11px;
	}
	#end-page h5 {
		font-size: 27px;
		padding-top: 90px;
	}
	#end-page {
		height: 350px !important;
	}
	#end-page button {
		font-size: 19px;
	}
	.top-card {
		padding: 200px 100px 200px 100px;
	}
	.hidden-xs {
		display: none !important;
	}
}

/*****************************Comment Slider************************************************/
.owl-prev {
            left: 10px;
        }

.owl-next {
            right: 10px;
        }

.owl-prev,.owl-next {
            position: absolute;
            top: 10%;
        }

.owl-prev span,.owl-next span {
            font-size: 60px;
            color: #777777;

        }
.owl-prev span:hover{
	background-color:pink ;
}
.owl-next span:hover{
	background-color:pink ;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
            background-color:transparent;
        }