{% extends 'main/gb_base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block extraHead %}
<title>
    Create Blog
</title>
<meta name="description" content="Write amazing blogs">
{% endblock %}

{% block extraCss %}
{% endblock %}

{% block content %}

<div class="container justify-content-center d-flex assignment-form my-5 py-5 shadow-lg">
    <form action="" method="post" enctype="multipart/form-data">
        {% if form.errors %}
            <div class="alert alert-danger text-center">
                {{form.errors}}
            </div>
        {% endif %}
        <div class="text-center">
            <h1>Create/Edit Blog</h1>
            <a href="{% url 'blog-demand-list' %}">Check out most demanded blogs</a>
        </div>
        {% csrf_token %}
        {{form.media}}

        <div class="form-group my-5">
            <label for="title" class="mb-3">Title</label><br>
            {{form.title|add_class:"form-control"|attr:"id:title"|attr:"required"|attr:"placeholder: Less than 200 letters"}}
        </div>
        <div class="form-group my-5">
            <label for="short_description" class="mb-3">Short Description</label><br>
            {{form.short_description|add_class:"form-control"|attr:"id:short_description"|attr:"required"|attr:"placeholder: Less than 200 letters"}}
        </div>
        <div class="form-group my-5">
            <label for="content" class="mb-3">Content</label><br>
            {{form.content|attr:"required"}}
        </div>
        <div class="form-group my-5">
            <label for="tags" class="mb-3">Tags(Eg: science,space,)</label><br>
            {{form.tags|add_class:"form-control"|attr:"required"}}
        </div>
        <div class="form-group my-5">
            <label for="image" class="mb-3">Main Image (Optional)</label><br>
            {{form.image|add_class:"form-control"|attr:"id:image"|attr:"type:file"}}
        </div>
        <div class="form-group my-5">
            <label for="video" class="mb-3">Embedded youtube video url (Eg. <a href="https://www.youtube.com/embed/T2GdvS_vzig">https://www.youtube.com/embed/T2GdvS_vzig</a>)</label><br>
            {{form.video|add_class:"form-control"|attr:"id:video"|attr:"placeholder: Add youtube video link here."}}
        </div>
        <div class="form-group my-5">
            <label for="public" class="mb-3">
                <p>
                {{form.public|add_class:"form-check"|attr:"id:public"|attr:"type:checkbox"}}
                Public
                </p>
            </label>
        </div>
        {% if form.captcha %}
        <div class="d-flex justify-content-center mb-5">
            {{form.captcha}}
        </div>
        {% endif %}
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="submit-buttons">Submit</button>
        </div>
    </form>
</div>

{% endblock %}