{% extends 'main/gb_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extraHead %}
<title>
    List of blogs 
</title>
<meta name="description" content="List of gyaanibuddy blogs">
{% endblock %}

{% block extraCss %}
<style>
    .card-title{
        font-weight: bolder;
        color:black;
        font-size: 20px;
    }
    .card-title:hover{
        color:#24bacf;
    }
    .card-text{
        color: darkgray;
        font-size: medium;
    }
    .tag-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    i span{
        color: darkgray;
    }
    
    .tag{
        background-color: #24bacf;
        color: white;
        margin: 4px 4px;
        padding: 4px 4px;
        border: none;
        font-size: small;
        font-weight: 500;
        border-radius: 3px;
    }
    .top-msg-mobile-only{
        display: block;
        text-align:center;
    }
    @media screen and (min-width: 480px) {
        .top-msg-mobile-only{
            display: none;
        }
    }
</style>
{% endblock %}

{% block content %}

    
    <div class="container mt-3">


        <div class="top-msg-mobile-only">
            {% if user.is_authenticated %}
                <a href="{% url 'blog-create' %}">
                    <div class="p-1">
                        <i class="fa fa-plus" aria-hidden="true">
                            Write a Blog!
                        </i>
                    </div>
                </a>
                {% else %}
                <a href="{% url 'account_login' %}?next={{request.path}}">
                    Login
                </a> 
                to write a blog.
            {% endif %}
        </div>
        
        <div class="row">
            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-6">
                <form class="text-center">
                    {{filter.form.q|add_class:"form-control"|attr:"placeholder:Search"}}
                    <br>
                    {{filter.form.writer__username|add_class:"form-control"|attr:"placeholder:Search Author"}}
                    <button class="submit-buttons m-1 p-2">submit</button>
                </form>
            </div>
            <div class="col-12 col-md-3"></div>
        </div>

        

        <div class="row">
            <div class="col-12 col-md-8">
                
                
                    <div class="row">
                        {% for blog in blog_list %}
                            <div class="col-12 col-md-6 p-4">
                                <div class="card zoomEffect shadowcard bg-white rounded" style="width: 100%;">
                                    {% if blog.public == False %}
                                    <div style="position: absolute;top: 5px;right: 5px;color: #24bacf;">
                                        <i class="fa fa-user-secret" aria-hidden="true">Private</i>
                                    </div>
                                    {% endif %}
                                    <a href="{% url 'blog-single' blog.slug %}" title="">
                                        <img style = "height: 225px" {% if blog.image %} src="{{blog.image.url}}" {% else %} src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" {% endif %} class="card-img-top" alt={{blog.title}}>
                                    </a>
                                    <div class="card-body overflow-hidden" style="height:200px;">
                                        <a style="text-decoration: none;" href="{% url 'blog-single' blog.slug %}">
                                            <h5 class="card-title">{{blog.title}}</h5>
                                        </a>
                                        <p class="card-text px-2">{{blog.short_description}}</p>
                                    </div>

                                    <hr>
                                    <div style="position: relative;bottom:0px;height: 75px;">
                                        <div class="w-100">
                                            <i style="color:#36c1d4;float: left;padding-left: 10px;" class="fa fa-eye" aria-hidden="true">
                                            <a style="text-decoration: none;color: darkgray;" href="#">  {{blog.views}} Views </a>
                                            </i>
                                            <br>
                                            <i style="color:#36c1d4;float: left;padding-left: 10px;" class="fa fa-user" aria-hidden="true">
                                                <a style="text-decoration: none;color: darkgray;" 
                                                    {% if blog.writer %}
                                                        href="{% url 'user-profile' blog.writer.slug %}"
                                                    {% else %}
                                                        href=""
                                                    {% endif %}
                                                >
                                                {{blog.writer.username}} </a>
                                            </i>
                                            <br>
                                            <i style="color:#36c1d4;float: left;padding-left: 10px;" class="fa fa-clock" aria-hidden="true">
                                                <a style="text-decoration: none;color: darkgray;" href="#"> {{blog.updated_at|date}} </a>
                                            </i>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                
                
                
                
            </div>
            <div class="col-12 col-md-4  p-4">
                <div class="fw-bold pb-4">
                    
                    {% if user.is_authenticated %}
                    <a href="{% url 'blog-create' %}" style="font-size:32px;">
                        <i class="fa fa-plus" aria-hidden="true">  Write a Blog!</i>
                    </a>
                    {% else %}
                    <a href="{% url 'account_login' %}?next={{request.path}}">
                        Login
                    </a> 
                    to write a blog.
                    {% endif %}
                    <br>
                    <a href="{% url 'blog-demand-list' %}" style="color:black;">
                        <i class="fa fa-fire" aria-hidden="true">  Checkout topics in demand!</i>
                    </a>
                </div>

                <!-- Some image -->
                <img src="{% static 'upload/gyaaniblog.jpeg' %}" class="img-fluid" style="max-width: 100%;" alt="Image desc">
                <hr/>

                <!-- Suggested Posts -->
                <div>
                    <h4>Suggested Posts</h4>
                    
                        {% for sb in controlled_blogs.suggested_blogs.all %}
                            <div class="p-2 zoomEffect" style="display: flex;flex-direction: row;">
                                <div>
                                    <img {% if sb.image %} src="{{sb.image.url}}" {% else %} src="https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"{% endif %} style="border-radius: 10px;height: 100px;width: 100px;background-color: #6ad3e3;" />
                                </div>
                                <div style="padding-left: 10px;">
                                    <a style="text-decoration: none;color: black;" href="{% url 'blog-single' sb.slug %}">{{ sb.title }}</a><br>
                                    <small style="color: gray;">{{sb.created_at}}</small><br>
                                    <small>
                                        <a 
                                            style="text-decoration: none;" 
                                            {% if sb.writer %}
                                                href="{% url 'user-profile' sb.writer.slug %}"
                                            {% else %}
                                                href=""
                                            {% endif %}
                                        >
                                            <small style="color: #6ad3e3;">by {{ sb.writer }}</small>
                                        </a>
                                    </small><br>
                                </div>
                            </div>
                        {% endfor %}
                    
                    <div>
                    </div>
                </div>

                <hr/>

                <!-- Suggested Tags -->
                <div>
                    <h4>Suggested Tags</h4>
                    <div class="tag-box">
                        {% for tag in controlled_blogs.suggested_tags.all %}
                            
                            <a href="{% url 'name_blog' %}?q={{tag.name}}">
                                <button class="tag">{{tag.name}}</button>
                            </a>
                            
                        {% endfor %}
                    </div>
                </div>



            </div>

        </div>










{% if is_paginated %}
<div class="row mt-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
        </ul>
    </nav>
</div>
{% endif %}


    </div>
    
    
{% endblock %}