{% extends 'main/gb_base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block extraHead %}
<title>
    Blog Demand Create
</title>
<meta name="description" content="Add blog title you require">
{% endblock %}

{% block extraCss %}
{% endblock %}

{% block content %}

<div class="container justify-content-center d-flex assignment-form my-5 py-5 shadow-lg">
    <form action="" method="post" enctype="multipart/form-data" style="width: 80%;">
        <div class="text-center">
            <h1>Suggest Blog title</h1>
        </div>
        {% csrf_token %}
        {{form.media}}

        <div class="form-group my-5">
            {{form.title|add_class:"form-control"|attr:"placeholder:Enter title here"|attr:"id:title"|attr:"required"|attr:"rows:20"|attr:"cols:20"}}
        </div>
        
        <div class="d-flex justify-content-center">
            <button type="submit" class="submit-buttons">Submit</button>
        </div>
    </form>
</div>

{% endblock %}